html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: scroll;
  font-family: Inter, sans-serif;
  font-size: medium;
  background-color: bisque;
}
.main {
  flex: 1 0 auto;
  padding: 0px 2rem;
  width: calc(100vw - 1rem);
}

footer {
  flex-shrink: 0;
}

.docs-brand {
  color:#5755d9;
  height:2rem;
  left:1.5rem;
  position:fixed;
  top:.85rem
 }
 .docs-brand .docs-logo {
  align-items:center;
  border-radius:.1rem;
  display:-ms-inline-flexbox;
  display:inline-flex;
  -ms-flex-align:center;
  font-size:.7rem;
  height:2rem;
  padding:.2rem;
  width:auto
 }
 .docs-brand .docs-logo:focus,
 .docs-brand .docs-logo:hover {
  text-decoration:none
 }
 .docs-brand .docs-logo img {
  display:inline-block;
  height:auto;
  width:1.6rem
 }
 .docs-brand .docs-logo h2 {
  display:inline-block;
  font-size:.8rem;
  font-weight:700;
  line-height:1.5rem;
  margin-bottom:1.5rem;
  margin-left:.5rem;
  margin-right:.3rem
 }
 .hp-2 {
	padding: 1.4rem !important;
}

dl dt{
  font-weight: 600;
}
dl dd{
  margin: auto;
}