<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    {{ partial "head.html" . }}
    <body>
        <div class="main container">
            {{ block "head" .}}
                {{ partial "header.html" . }}
            {{ end }}

            <div class="section">
                {{ block "main" . }}{{ end }}
            </div>
        </div>

        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}
        {{ partial "mathjax.html" . }}
    </body>
</html>