<header class="navbar bg-secondary container mx-2 hp-2">
  <section class="navbar-section">
    {{if .Site.Params.logoUrl}}
      <img class="mx-1" width="60" height="60" src="{{.Site.Params.logoUrl}}" alt="{{.Site.Title}}" />
    {{end}}
    {{if .Site.Title}}
      <dl>
        <dt class="h3">{{.Site.Title}}</dt>
        {{if .Site.Params.tagline}}
          <dd class="text-muted">{{.Site.Params.tagline | lower}}</dd>
        {{end}}
      </dl>
    {{end}}
  </section>

  {{if .Site.Menus.main}}
  <section class="navbar-center">
    {{ range .Site.Menus.main }}
    <a href="{{ .URL }}" title="{{ .Name }}" class="btn btn-link">{{ .Name }}</a>
    {{ end }}
  </section>
  {{end}}

  {{if .Site.Params.Contacts}}
  <section class="navbar-section">
    <div class="tile tile-centered">
      <div class="tile-content">
        {{if .Site.Params.Contacts.Email}}<div class="text-large">{{.Site.Params.Contacts.Email}}</div>{{end}}
        {{if .Site.Params.Contacts.phoneNumber}}<div class="text-small">{{.Site.Params.Contacts.phoneNumber}}</div>{{end}}
        {{if .Site.Params.Contacts.address}}<div class="text-tiny">{{.Site.Params.Contacts.address}}</div>{{end}}
      </div>
    </div>
  </section>
  {{end}}

  
</header>