<header class="navbar">
  {{if .Site.Params.logoUrl}}
    <section class="navbar-section">
      <img src="{{.Site.Params.logoUrl}}" alt="{{.Site.Title}} Logo" />
    </section>
  {{end}}
  {{if .Site.Title}}
    <section>
      <a href="..." class="navbar-brand mr-2">{{.Site.Title}}</a>
      {{if .Site.Params.tagline}}
        <small class="label label-secondary text-bold">{{.Site.Params.tagline}}</small>
      {{end}}
    </section>
  {{end}}

  {{if .Site.Menus.main}}
  <section class="navbar-center">
    {{ range .Site.Menus.main }}
    <a href="{{ .URL }}" title="{{ .Name }}" class="btn btn-link">{{ .Name }}</a>
    {{ end }}
  </section>
  {{end}}
  
  <section class="navbar-section">
    <div class="tile tile-centered">
      <div class="tile-icon">
        <div class="example-tile-icon">
          <i class="icon icon-file centered"></i>
        </div>
      </div>
      <div class="tile-content">
        <div class="tile-title">spectre-docs.pdf</div>
        <small class="tile-subtitle text-gray">14MB · Public · 1 Jan, 2017</small>
      </div>
      <div class="tile-action">
        <button class="btn btn-link">
          <i class="icon icon-more-vert"></i>
        </button>
      </div>
    </div>
  </section>
</header>